* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #362c28;
  border-radius: 10px;
}

#UP {
  position: fixed;
  bottom: 30px;
  right: -80px;
  width: 60px;
  height: 60px;
  background-color: #cbf3f0;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#UP{
  width: 50px;
  height: 50px;
}
#UP>svg{
  width: 70%;
  height: 70%;
}