*{
	margin: 0;
	padding: 0;
}

html{
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.cache{
	display: none;
}

body{
	height: 100vh;
	background-image: url("img/fond espace 2.jpg");
	background-size: cover;
	overflow: hidden;
}

#Score{
	display: none;
	font-size: 2em;
	color: white;
	text-shadow: 0 2px 2px rgba(125,0,0,.51),
	0 0 10px rgba(0,0,255,1),
	0 0 10px rgba(0,0,255,1); 
	position: absolute;
	right: 10px;
	top: 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	user-select: none;
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	font-variant-numeric: tabular-nums;
	margin: 10px;
	color: #e4e4e4;
	text-shadow: 0 2px 2px rgba(125,0,0,.51),
	  0 0 10px rgba(0,0,255,1),
	  0 0 10px rgba(0,0,255,1); 
	text-align: center;
}

#Titre {
	font-size: 2em;
	margin-top: 5%;
	margin-bottom: 2%;
}

section{
	z-index: 2;
}

.bouton_vaisseau{
	margin-top: 1%;
	margin-left: 40%;
	margin-right: 40%;
	display: flex;
	flex-direction: row;
}

.bouton_vaisseau > button {
	background-color:transparent;
	border-color: #e4e4e4;
	box-shadow: 0 2px 2px rgba(125,0,0,.51),
	0 0 10px rgba(0,0,255,1),
	0 0 10px rgba(0,0,255,1); 
	width: 60%;
	height: 180px;
}

.bouton_laser{
	margin-top: 1%;
	margin-left: 40%;
	margin-right: 40%;
	display: flex;
	flex-direction: column;
}

.bouton_laser > button {
	width: 100%;
	background-color:transparent;
	border-color: #e4e4e4;
	box-shadow: 0 2px 2px rgba(125,0,0,.51),
	0 0 10px rgba(0,0,255,1),
	0 0 10px rgba(0,0,255,1);;
	height: 30px;
	margin-bottom: 2px;
}

.bouton_fond_ecran{
	margin-top: 1%;
	margin-left: 40%;
	margin-right: 40%;
	display: flex;
	flex-direction: row;
}

.bouton_fond_ecran > button {
	background-color:transparent;
	border-color: #e4e4e4;
	box-shadow: 0 2px 2px rgba(125,0,0,.51),
	0 0 10px rgba(0,0,255,1),
	0 0 10px rgba(0,0,255,1); 
	height: 180px;
}

.bouton_fond_ecran > button > img {
	height: 15vh;
	width: 9.8vw;
}

.bouton_vaisseau > button > img {
	height: 15vh;
	width: 9.8vw;
}


#shooter{
	position: absolute;
	z-index: 1;
}

#vaisseau1{
	margin-right: 2px;
}